Authlib
google-api-python-client
google-auth-oauthlib
langchain_community
langchain_core
langchain_google_genai
PyPDF2
python-dotenv
Requests
huggingface_hub
sentence_transformers
streamlit
torch
beautifulsoup4
