langchain
langchain-community
langchain_google_genai
chromadb
streamlit
python-dotenv
google
oauth
uuid
google-auth
google-auth-oauthlib
google-api-python-client
authlib
PyPDF2
requests
requests
protobuf